$font-accent: 'Bebas Neue', sans-serif;
$font-text: 'PT Sans', sans-serif;

@font-face {
	font-family: 'Bebas Neue';
	font-weight: 700;
	font-style: normal;

	font-display: swap;
	src: url('/fonts/bebas-neue.woff2') format('woff2');
}

@font-face {
	font-family: 'PT Sans';
	font-weight: 400;
	font-style: normal;

	font-display: swap;
	src: url('/fonts/pt-sans-regular.woff2') format('woff2');
}

@font-face {
	font-family: 'PT Sans';
	font-weight: 700;
	font-style: normal;

	font-display: swap;
	src: url('/fonts/pt-sans-bold.woff2') format('woff2');
}
