@use '_fonts' as fonts;

html {
	scrollbar-gutter: stable;

	font-family: var(--font__text);
	font-weight: normal;
	line-height: 1.45;
	color: var(--color__text);

	background-color: var(--color__background);
}

body {
	max-width: 1440px;
	margin: 0 auto;
}
