a {
	padding-top: 0.1em;
	padding-bottom: 0.2em;
	color: inherit;
	text-decoration: none;
}

h1,
h2,
h3 {
	margin: 0;
}

p,
pre {
	margin: 0;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

img,
video {
	display: block;
	max-width: 100%;
	height: auto;
}

img {
	image-rendering: smooth;
}

button,
input,
select,
textarea {
	padding: 0;
	border: none;

	font: inherit;
	color: inherit;

	outline-color: transparent;
	outline-style: solid;
}

button {
	cursor: pointer;
}
