.pagination {
	display: flex;
	gap: 12px;
	align-items: center;
	justify-content: center;

	@media (width >= 768px) {
		display: none;
	}
}

.dot {
	--background-color--hover: var(--color__text);
	--background-color--active: var(--color__text);

	width: 6px;
	height: 6px;
	border-radius: 50%;

	opacity: 0.4;
	background-color: var(--color__text);

	&[aria-current='step'] {
		opacity: 1;
	}

	&:hover,
	&:focus-visible {
		scale: 1.3;
		opacity: 1;
	}
}
