.point {
	position: absolute;
	left: 100%;
	transform-origin: center;
	transform: translate(-50%, -50%);

	display: flex;
	align-items: center;
	justify-content: center;

	width: 6px;
	height: 6px;
	border-radius: 50%;

	background-color: var(--color__text);

	transition:
		width 0.28s cubic-bezier(0.2, 0.9, 0.2, 1),
		height 0.28s cubic-bezier(0.2, 0.9, 0.2, 1),
		border-radius 0.28s cubic-bezier(0.2, 0.9, 0.2, 1),
		background-color 0.28s cubic-bezier(0.2, 0.9, 0.2, 1),
		transform 0.28s cubic-bezier(0.2, 0.9, 0.2, 1),
		border-color 0.28s cubic-bezier(0.2, 0.9, 0.2, 1);

	&::before {
		content: '';

		position: absolute;
		z-index: 1;
		inset: -24px;

		border-radius: 50%;

		transition: inset 0.28s cubic-bezier(0.2, 0.9, 0.2, 1);
	}

	&:is(:hover, :focus, [aria-pressed='true']) {
		width: 56px;
		height: 56px;
		border: 1px solid var(--color__border);
		border-radius: 50%;

		background-color: var(--color__background);

		&::before {
			inset: 0;
		}
	}

	&:focus {
		outline-color: transparent;
	}

	&[aria-pressed='true'] {
		cursor: default;
		border-color: var(--color__text);
	}
}

.text {
	pointer-events: none;
	rotate: calc((var(--point-rotation, 0deg) + var(--wheel-rotation)) * -1);
	opacity: 0;
	transition: opacity 0.15s ease;

	.point:is(:hover, :focus, [aria-pressed='true']) & {
		opacity: 1;
	}
}
