.slider {
	display: flex;
	flex-direction: column;
}

.navigation {
	display: flex;
	column-gap: 38px;
	align-items: center;
	order: 1;

	width: fit-content;
	margin-top: 78px;

	@media (width >= 768px) {
		order: -1;
		margin-top: -48px;
	}
}

.pagination {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.scroller {
	position: relative;

	min-height: 151px;
	margin-top: 58px;
	padding-top: 20px;
	border-top: 1px solid var(--color__border);

	@media (width >= 768px) {
		min-height: auto;
		margin-top: 56px;
		padding-top: 0;
		border: none;
	}
}
