.title {
	position: relative;
	max-width: 15ch;
	font-size: 1.4rem;
	line-height: 1.2;

	@media (width >= 768px) {
		font-size: 2.8rem;
	}

	&::before {
		content: '';

		position: absolute;
		left: calc(
			-1 *
				clamp(
					var(--page-inline-padding) - 40px,
					var(--page-inline-padding) - 40px + 2vw,
					var(--page-inline-padding)
				)
		);

		display: none;

		width: 5px;
		height: 100%;

		background-image: linear-gradient(
			0deg,
			var(--color__accent--secondary),
			var(--color__accent)
		);

		@media (width >= 1300px) {
			display: block;
		}
	}
}
